BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 150
AlignTrailingComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: True
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortIfStatementsOnASingleLine: true
